<h2>Fill up the form below!</h2>
	<form method=post action=/addquestion>
		<input type=text placeholder="Title" name="question[title]"></br>
		<input type=text placeholder="Ask your question here" name="question[description]"></br>
		<input type=submit value="Post">
	</form>
