<html>
	<div id="header">
		<h1><a href="/" style="text-decoration: none">similanjiao!?</a></h1>
		<p>Find your answer today!</p>
	</div>

<% if logged_in? == false %>
	<div id="hello">
		<a href="/hello">Join the party!</a> 
	</div>
<% else %>
	<div id="userinfo">
		<p>Logged in as: <%= User.find_by_id(current_user.id).full_name %></p>
		<form method=post action=/logout>
			<input type=submit value="Logout">
		</form>
	</div>
		<form method=post action=/ask>
			<input type=submit value="Ask a question">
		</form>
	<div>

	</div>

	<div>
		<a href="/users/<%=current_user.id%>">My profile</a>
	</div>
<%end%>
	<%= yield%>
</html>