<html>
	<div id="header">
		<h1><a href="/" style="text-decoration: none">similanjiao!?</a></h1>
		<p>Find your answer today!</p>
	</div>

<% if session[:user_id] == nil %>
	<div id="hello">
		<a href="/hello">Join the party!</a> 
	</div>
<% else %>
	<div id="userinfo">
		<p>Logged in as: <%= User.find_by_id(session[:user_id]).full_name %></p>
		<form method=post action=/logout>
			<input type=submit value="Logout">
		</form>
	</div>
<%end%>
	<%= yield%>
</html>